<a href="https://colab.research.google.com/github/nurfnick/AdventOfCode2023/blob/main/PythonCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advent of Code

In [151]:
import numpy as np
import pandas as pa

## Day 1:  Find the Numbers in a String

In [ ]:
data = pa.read_csv('https://raw.githubusercontent.com/nurfnick/AdventOfCode2023/main/input1',header = None)

In [ ]:
data.iloc(0)[1,0]

'9nnqljsixkzphvtmtr'

In [ ]:
not data.iloc(0)[0,0][0].isdigit()
k = 1

In [ ]:
i = 0
characterFromFrontString = data.iloc(0)[k,0][i]
while not characterFromFrontString.isdigit():
  i+=1
  characterFromFrontString = data.iloc(0)[k,0][i]

characterFromFrontString

'9'

In [ ]:
i = -1
characterFromBackString = data.iloc(0)[k,0][i]
while not characterFromBackString.isdigit():
  i-=1
  characterFromBackString = data.iloc(0)[k,0][i]

characterFromBackString

'9'

In [ ]:
int(characterFromFrontString + characterFromBackString)

99

In [ ]:
sum = 0

for k in range(1000):
  i = 0
  characterFromFrontString = data.iloc(0)[k,0][i]
  while not characterFromFrontString.isdigit():
    i+=1
    characterFromFrontString = data.iloc(0)[k,0][i]
  i = -1
  characterFromBackString = data.iloc(0)[k,0][i]
  while not characterFromBackString.isdigit():
    i-=1
    characterFromBackString = data.iloc(0)[k,0][i]
  sum += int(characterFromFrontString + characterFromBackString)

In [ ]:
sum

55834

Got that one correct.  Now need to check if the digit is spelled out...

In [ ]:
digits = ['one','two','three','four','five','six','seven','eight','nine']

In [ ]:
'oone' in digits

False

In [ ]:
fullString = data.iloc(0)[0,0]
i = -8
fullString[i-3:i] not in digits or fullString[i-4:i] not in digits or fullString[i-5:i] not in digits

True

In [ ]:
fullString[i:i+3]

'zrx'

In [ ]:
fullString[-4:]

'even'

In [ ]:
digitsDict = {'one':'1','two':'2','three':'3','four':'4','five':'5','six':'6','seven':'7','eight':'8','nine':'9'}

In [ ]:
#digitsDict['one']

'1'

In [ ]:
def findWhichDigit(fullString,pos,Front):
  if Front:
    if fullString[pos].isdigit():
      return fullString[pos]
    elif fullString[pos-2:pos+1] in digits:
      return digitsDict[fullString[pos-2:pos+1]]
    elif fullString[pos-3:pos+1] in digits:
      return digitsDict[fullString[pos-3:pos+1]]
    elif fullString[pos-4:pos+1] in digits:
      return digitsDict[fullString[pos-4:pos+1]]
  elif not Front:
    if fullString[pos].isdigit():
      return fullString[pos]
    elif fullString[pos:][:3] in digits:
      return digitsDict[fullString[pos:][:3]]
    elif fullString[pos:][:4] in digits:
      return digitsDict[fullString[pos:][:4]]
    elif fullString[pos:][:5] in digits:
      return digitsDict[fullString[pos:][:5]]

In [ ]:
findWhichDigit(fullString,-5,False)

'7'

In [ ]:
sum = 0

for k in range(1000):
  fullString = data.iloc(0)[k,0]
  i = 0
  characterFromFrontString = data.iloc(0)[k,0][i]
  while not characterFromFrontString.isdigit() and fullString[i-2:i+1] not in digits and fullString[i-3:i+1] not in digits and fullString[i-4:i+1] not in digits:
    i+=1
    characterFromFrontString = data.iloc(0)[k,0][i]
  characterFromFrontString = findWhichDigit(fullString,i,True)
  i = -1
  characterFromBackString = data.iloc(0)[k,0][i]
  while not characterFromBackString.isdigit() and fullString[i:][:3] not in digits and fullString[i:][:4] not in digits and fullString[i:][:5] not in digits:
    i-=1
    characterFromBackString = data.iloc(0)[k,0][i]
  characterFromBackString = findWhichDigit(fullString,i,False)
  print(int(characterFromFrontString + characterFromBackString))
  sum += int(characterFromFrontString + characterFromBackString)

27
96
52
57
35
49
43
16
61
79
22
36
13
54
89
28
13
86
18
53
83
63
38
18
83
36
13
82
38
38
82
34
38
35
45
91
95
93
62
66
14
78
19
35
22
47
38
19
66
78
91
94
21
84
91
47
98
62
94
15
63
71
68
76
82
29
37
13
79
31
22
48
59
21
77
28
36
22
18
87
64
32
98
52
62
86
33
78
59
51
22
95
11
82
37
65
77
12
63
21
64
57
42
24
27
51
51
26
27
15
28
72
62
82
55
81
99
44
52
57
18
36
56
43
52
83
86
81
78
88
27
33
89
54
17
92
99
97
11
91
26
95
21
99
66
69
42
84
99
56
78
16
63
48
11
31
95
89
16
92
94
97
47
73
89
52
77
14
79
22
88
71
36
15
32
41
61
66
87
35
55
63
12
47
66
54
88
39
34
85
82
76
19
19
96
52
79
93
89
15
44
69
53
53
37
54
23
74
13
93
97
78
74
62
49
87
63
83
91
19
95
99
35
88
44
62
71
49
24
28
85
78
14
38
74
21
25
69
94
58
81
57
85
42
46
15
56
22
55
45
59
29
78
43
62
16
85
18
78
45
48
15
76
84
24
43
34
44
64
88
53
65
59
11
71
61
21
55
44
69
64
41
47
79
25
45
65
72
53
18
14
54
91
11
98
39
59
18
77
24
17
63
75
79
92
58
94
58
72
53
76
56
88
84
63
46
95
95
69
41
89
39
42
47
73
73
88
15
84
69
21
34
74
44
51
58
56
64
32
35
83
25
68
41
31
76
91
12
26
44
44
46
44
84
22
71
84
53
28
89
85
37
65
88
44
83
66
16
45
21
88
87
47
13
62
16
28
52
56
91
74
71
15
65
23
15
54
59
18
28
11
18
14
27
45
31
14
91
36
84
81
28
71
98
45
26
96
75
16
99
55
96
22
65
44
22
17
92
21
19
48
92
97
31
77
14
46
22
41
33
16
52
21
48
52
27
66
18
87
87
99
52
13
38
44
59
86
29
61
23
41
88
69
22
47
49
47
56
38
49
53
56
26
74
12
57
92
64
57
16
61
39
89
22
34
46
12
78
84
64
95
95
44
29
47
77
77
21
67
68
49
39
18
83
15
25
12
44
14
93
73
98
97
24
87
22
75
91
18
39
93
43
61
64
23
77
16
43
38
79
49
96
98
12
77
48
14
51
44
53
66
97
17
41
31
14
64
46
11
92
47
63
62
54
72
73
81
62
88
71
12
55
66
24
23
89
67
84
67
58
69
66
33
22
24
76
97
55
47
98
53
44
25
14
26
43
72
37
34
54
99
37
26
52
83
99
39
51
47
87
16
93
62
97
63
29
21
12
88
63
56
73
83
65
16
31
64
84
25
13
54
12
91
71
17
31
51
46
77
41
48
33
84
32
73
94
42
67
88
55
46
76
36
49
64
14
92
12
96
23
24
82
13
85
48
44
16
57
98
97
33
27
67
23
81
92
65
93
75
89
79
94
47
36
94
54
83
51
43
63
36
91
71
93
93
33
14
22
83
71
27
29
63
41
26
12
88
77
44
92
34
33
42
37
17
85
14
86
29
77
84
19
84
48
25
29
65
67
43
22
17
24
84
81
29
21
73
59
56
89
49
63
48
22
31
75
66
15
46
94
18
15
28
86
57
29
75
21
17
55
86
82
81
29
92
31
55
21
39
99
33
49
81
58
33
97
37
48
96
62
67
93
22
33
99
28
37
43
43
65
61
44
22
65
52
26
21
52
63
14
64
19
16
21
22
77
21
36
72
53
49
93
82
58
45
71
61
65
57
96
47
22
37
68
96
26
48
25
33
92
16
61
46
56
98
38
49
33
25
27
83
67
99
77
32
77
16
91
29
65
69
44
47
97
99
81
12
88
75
77
18
38
42
64
47
53
12
19
75
61
56
13
66
57
11
47
29
39
91
28
99
32
91
68
33
19
23
43
52
22
51
51
17
81
41
86
99
83
77
56
82
62
52
16
57
32
22
12
28
33
74
78
73
11
52
22
66
42
82
52
38
92
89
85
42
44
35
39
46
77
81
39
16
16
12
89
82
36
24
12
73
67
53
67
85
45
42
22
85
12
73
28
45
22
67
34
17
37
27
16
35
49
24
22
58
29
42
44
17
91
48
16
97
34
96
79
55
58
55
25
29
49
65
83
16
81
88
34
79
69
24
67
35
18
19
61
55
45
38
59
26
71
31
38
12
74
59
55
17
14
57
82
38
42
17
71
45
37
78
38

In [ ]:
sum

53221

In [ ]:
k

0

In [ ]:
fullString

'29lzrxseven'

## Day 2 Finding The Impossible

In [ ]:
data = pa.read_csv('https://raw.githubusercontent.com/nurfnick/AdventOfCode2023/main/input2', names=['1', '2', '3','4','5','6','7'],
                     sep=':|;', engine='python')

In [ ]:
data

,1,2,3,4,5,6,7
0,Game 1,4 blue,"1 green, 2 red","4 blue, 1 green, 6 red",None,None,None
1,Game 2,"7 red, 1 green, 4 blue","13 red, 11 blue","6 red, 2 blue","9 blue, 9 red","4 blue, 11 red","15 red, 1 green, 3 blue"
2,Game 3,"1 blue, 10 green","4 green, 8 blue","3 blue, 14 green, 1 red",None,None,None
3,Game 4,"1 green, 2 blue","1 blue, 4 green","8 red, 3 blue, 3 green","8 red, 2 green, 1 blue","7 green, 3 blue, 2 red","1 red, 1 green, 3 blue"
4,Game 5,"3 red, 7 blue, 4 green","12 blue, 16 red, 4 green","9 red, 2 green","1 blue, 1 green, 1 red",None,None
...,...,...,...,...,...,...,...
95,Game 96,"13 red, 3 blue","3 red, 13 blue","5 blue, 1 red, 2 green","7 red, 7 blue","12 red, 9 blue, 3 green","8 red, 15 blue, 2 green"
96,Game 97,"4 blue, 9 green, 2 red","2 red, 5 green, 13 blue","9 blue, 2 red, 16 green",None,None,None
97,Game 98,3 red,"1 green, 10 red","2 blue, 8 red","1 green, 11 red, 2 blue",None,None
98,Game 99,"6 red, 14 green","8 green, 15 red","1 red, 4 green","2 blue, 7 green, 13 red","14 green, 5 red, 1 blue","1 blue, 5 red, 8 green"
99,Game 100,"9 blue, 18 green, 4 red","5 green, 10 blue, 11 red","1 green, 1 red","16 green, 5 red, 1 blue",None,None

In [ ]:
data.iloc[0,1]

' 4 blue'

In [ ]:
maxs ={'red':12,'green':13,'blue':14}

In [ ]:
data.iloc[0,2].strip().find(',')

7

In [ ]:
data.iloc[0,2].strip()[:data.iloc[0,2].strip().find(',')]

'1 green'

In [ ]:
def checkNumber(string):
  string = string.strip()
  if string[-5:] in maxs:#green
    if int(string[:2])>13:
      return False
    else:
      return True
  if string[-4:] in maxs:#blue
    if int(string[:2])>14:
      return False
    else:
      return True
  if string[-3:] in maxs:#red
    #print(string[:2])
    if int(string[:2])>12:
      return False
    else:
      return True

In [ ]:
checkNumber(data.iloc[0,2].strip()[:data.iloc[0,2].strip().find(',')])

True

In [ ]:
data.iloc[0,2].strip()[0:data.iloc[0,2].strip().find(',')]

'1 green'

In [ ]:
string = data.iloc[0,3].strip()
pos = []
#pos.append(0)

pos.extend([i for i in range(len(string)) if string.startswith(',', i)])

pos.append(len(string))

In [ ]:


pos

[6, 15, 22]

In [ ]:


for index,num in enumerate(pos):
  if index ==0:
    checkNumber(string[0:num])
  elif num == max(pos):
    break
  else:
    checkNumber(string[num+1:pos[index+1]])

In [ ]:
num

15

In [ ]:
pos[index+1]

22

In [ ]:
def TruthOfEntry(string):
  pos = []
  pos.extend([i for i in range(len(string)) if string.startswith(',', i)])
  pos.append(len(string))
  #print(pos)
  truth = True
  for index,num in enumerate(pos):
    if index ==0:
      truth = truth and checkNumber(string[0:num])
      #print(string[0:num])
    else:
      #print(string[pos[index-1]+1:num])
      truth = truth and checkNumber(string[pos[index-1]+1:num])
  return truth

In [ ]:
TruthOfEntry(string)

[6, 15, 22]
4 blue
 1 green
 6 red

True

In [ ]:
TruthOfEntry(data.iloc[1,6])

False

In [ ]:
data.iloc[1,6]

' 15 red, 1 green, 3 blue'

In [ ]:
pos

[6, 15, 22]

In [ ]:
checkNumber(' 15 red')

15

False

In [ ]:
' 15 red'[:2]

' 1'

In [ ]:
sum = 0

for i in range(100):
  goodentry = True
  for j in range(1,7):
    if not pa.isna(data.iloc[i,j]):
      goodentry = goodentry and TruthOfEntry(data.iloc[i,j])
  if goodentry:
    sum +=i+1

In [ ]:
sum

2268

Yeah!  Got part 1.  Part two wants the maximum number of each color.  Let's see if we can modify our outputs.

In [ ]:
def updateMax(string, greens, blues, reds):
  string = string.strip()
  if string[-5:] in maxs:#green
    greens.append(int(string[:2]))
  if string[-4:] in maxs:#blue
    blues.append(int(string[:2]))
  if string[-3:] in maxs:#red
    reds.append(int(string[:2]))
  return greens, blues, reds

In [ ]:
updateMax(string[:6],[],[],[])

([], [4], [])

In [ ]:
def updateAll(string,greens,blues,reds):
  pos = []
  pos.extend([i for i in range(len(string)) if string.startswith(',', i)])
  pos.append(len(string))
  for index,num in enumerate(pos):
    if index ==0:
      greens, blues, reds = updateMax(string[0:num],greens, blues,reds)
    else:
     greens, blues, reds = updateMax(string[pos[index-1]+1:num],greens, blues, reds)
  return greens, blues, reds

In [ ]:
updateAll(string,[],[],[])

([1], [4], [6])

In [ ]:
string

'4 blue, 1 green, 6 red'

In [ ]:
sum = 0

for i in range(100):
  greens = []
  blues = []
  reds = []
  for j in range(1,7):
    if not pa.isna(data.iloc[i,j]):
      greens, blues, reds = updateAll(data.iloc[i,j], greens, blues, reds)
  sum += max(greens)*max(reds)*max(blues)

In [ ]:
sum

63542

## Day 3:  Gear Ratios

In [ ]:
data = pa.read_csv('https://raw.githubusercontent.com/nurfnick/AdventOfCode2023/main/input3', header = None)

In [ ]:
data

                                                     0
0    .....180.........230.............................
1    ........*.602.........571-.......................
2    ..509.923.=....................+......835*.......
3    ...*............273..........307..........393....
4    .906..............*.350..........................
..                                                 ...
135  ..............*..........*......782..............
136  ........315.850......850.3..........322..439.....
137  .........*.............+.............*....*......
138  ......231......%....................604.725......
139  ..............688...869.........15...............

[140 rows x 1 columns]

In [ ]:
data.iloc[0,0][0]

'.'

In [ ]:
digits = ['1','2','3','4','5','6','7','8','9','0']
i = 0
while data.iloc[0,0][i] not in digits:
  i+=1
j = i+1
num = data.iloc[0,0][i]
while data.iloc[0,0][j] in digits and j<140:
  num +=data.iloc[0,0][j]
  j+=1

print(num)

180

In [ ]:
def findANumber(string,startingPoint):
  i = startingPoint
  while string[i] not in digits:
    i+=1
  j = i+1
  num = string[i]
  while j<140 and string[j] in digits:
    num +=string[j]
    j+=1
  start = i
  end = j-1
  return start,end,int(num)

In [ ]:
findANumber(data.iloc[0,0],0)

(5, 7, 180)

In [ ]:
digitsAndPeriod = digits+['.']
def testANumber(row,start,end):
  if row != 0 and row != 139:
    if start >0 and end <139:
      for i in range(start-1,end+2):
        if data.iloc[row-1,0][i] not in digitsAndPeriod:
          return True
        if data.iloc[row+1,0][i] not in digitsAndPeriod:
          return True
      if data.iloc[row,0][start-1] not in digitsAndPeriod or data.iloc[row,0][end+1] not in digitsAndPeriod:
        return True
    if start ==0:
      for i in range(start,end+2):
        if data.iloc[row-1,0][i] not in digitsAndPeriod:
          return True
        if data.iloc[row+1,0][i] not in digitsAndPeriod:
          return True
      if data.iloc[row,0][end+1] not in digitsAndPeriod:
        return True
    if end == 139:
      for i in range(start-1,end+1):
        if data.iloc[row-1,0][i] not in digitsAndPeriod:
          return True
        if data.iloc[row+1,0][i] not in digitsAndPeriod:
          return True
      if data.iloc[row,0][start-1] not in digitsAndPeriod:
        return True
  if row == 0:
    if start >0 and end <139:
      for i in range(start-1,end+2):
        if data.iloc[row+1,0][i] not in digitsAndPeriod:
          return True
      if data.iloc[row,0][start-1] not in digitsAndPeriod or data.iloc[row,0][end+1] not in digitsAndPeriod:
        return True
    if start ==0:
      for i in range(start,end+2):
        if data.iloc[row+1,0][i] not in digitsAndPeriod:
          return True
      if data.iloc[row,0][start] not in digitsAndPeriod or data.iloc[row,0][end+1] not in digitsAndPeriod:
        return True
    if end == 139:
      for i in range(start-1,end+1):
        if data.iloc[row+1,0][i] not in digitsAndPeriod:
          return True
      if data.iloc[row,0][start-1] not in digitsAndPeriod:
        return True
  if row == 139:
    if start >0 and end <139:
      for i in range(start-1,end+2):
        if data.iloc[row-1,0][i] not in digitsAndPeriod:
          return True
      if data.iloc[row,0][start-1] not in digitsAndPeriod or data.iloc[row,0][end+1] not in digitsAndPeriod:
        return True
    if start ==0:
      for i in range(start,end+2):
        if data.iloc[row-1,0][i] not in digitsAndPeriod:
          return True
      if data.iloc[row,0][start] not in digitsAndPeriod or data.iloc[row,0][end+1] not in digitsAndPeriod:
        return True
    if end == 139:
      for i in range(start-1,end+1):
        if data.iloc[row-1,0][i] not in digitsAndPeriod:
          return True
      if data.iloc[row,0][start-1] not in digitsAndPeriod:
        return True
  return False

In [ ]:
digits

['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']

In [ ]:
digitsAndPeriod

['1', '2', '3', '4', '5', '6', '7', '8', '9', '0', '.']

In [ ]:
len(data.iloc[0,0])

140

In [ ]:
data.iloc[0,0][8]

'.'

In [ ]:
testANumber(0,5,8)

True

In [ ]:
data.iloc[0:3,0]

0    .....180.........230.............................
1    ........*.602.........571-.......................
2    ..509.923.=....................+......835*.......
Name: 0, dtype: object

In [ ]:
findANumber(data.iloc[0,0],9)

(17, 19, 230)

In [ ]:
testANumber(0,17,19)

False

In [ ]:
findANumber(0,20)

(46, 48, 218)

In [ ]:
data.iloc[28,0]

'..................@..........345.189...849.........181...........879.....339.730...32........734...*..............793.289....*....&....#....'

In [ ]:
data.iloc[29,0]

'........%854....*.....*976......*........*.872....*.................%.............*......167.......2......................747......814......'

In [ ]:
data.iloc[103,0]

'..749.........368.............@....+......*......................660....862.866$...@./634.757..745........*.......209....652............*...'

In [ ]:
data.iloc[104,0]

'.......379..#...............577........835.............312*913.....*......*.......................*......872..747........................168'

In [ ]:
data.iloc[105,0]

'........#....346.329.........................852.=9..............%.....972...-...............604..198.67...........711.............247@.....'

In [ ]:
findANumber(data.iloc[104,0],130)

(137, 139, 168)

In [ ]:
sum = 0
row =104
j = 0
while j<142:
  try:
    start, stop, num = findANumber(data.iloc[row,0],j)
    j = stop+1
    print(num)
    if testANumber(row,start,stop):
      print(num)
      sum +=num
  except:
    break

379
379
577
577
835
835
312
312
913
913
872
872
747
168
168

In [ ]:
140-36

104

In [ ]:
sum = 0
row =1
j = 0
while j<140:
  try:
    start, stop, num = findANumber(data.iloc[row,0],j)
    j = stop+1
    print(num)
    if testANumber(row,start,stop):
      print(num)
      sum +=num
  except:
    break

602
602
571
571
199
199
181
181
980
980
292
292

In [ ]:
sum

2825

In [ ]:
findANumber(data.iloc[row,0],20)

(22, 24, 571)

In [ ]:
testANumber(1,22,24)

False

In [ ]:
data.iloc[row,0][24]

'1'

In [ ]:
sum = 0
for row in range(150):
  j = 0

  while j<141:
    try:
      start, stop, num = findANumber(data.iloc[row,0],j)
      j = stop+1
      if testANumber(row,start,stop):
        sum +=num
    except:
      break
  print(row,sum)

0 1094
1 3919
2 10868
3 12178
4 16175
5 19012
6 22452
7 25097
8 29264
9 32953
10 37006
11 43836
12 44632
13 49182
14 53690
15 56376
16 60347
17 63269
18 68248
19 70153
20 74584
21 80551
22 83721
23 87150
24 91543
25 94715
26 98930
27 103725
28 109085
29 112478
30 114480
31 119533
32 123966
33 129797
34 132095
35 136369
36 138405
37 143557
38 146849
39 150441
40 155676
41 157970
42 160588
43 163567
44 165907
45 168613
46 172075
47 177249
48 183237
49 185727
50 190713
51 194234
52 197399
53 200030
54 200548
55 206180
56 208342
57 213079
58 216460
59 219687
60 224769
61 227161
62 229137
63 233852
64 237494
65 238119
66 242156
67 246551
68 250847
69 255239
70 259341
71 267528
72 270865
73 274222
74 277942
75 283191
76 286133
77 288731
78 292731
79 295847
80 300629
81 302253
82 306566
83 311387
84 316846
85 322307
86 324663
87 328800
88 332922
89 335492
90 340184
91 342954
92 347491
93 350116
94 354741
95 360310
96 363276
97 366832
98 372324
99 374491
100 378123
101 379968
102 384367
103 389911
104 393967
105 397698
106 400109
107 405286
108 410537
109 413949
110 419671
111 423476
112 427163
113 429742
114 436095
115 439502
116 443449
117 449143
118 452937
119 458258
120 461456
121 466214
122 471085
123 474759
124 478809
125 483651
126 488369
127 492334
128 498027
129 500925
130 504328
131 507676
132 511093
133 516475
134 520242
135 524398
136 529702
137 532688
138 535887
139 537832
140 537832
141 537832
142 537832
143 537832
144 537832
145 537832
146 537832
147 537832
148 537832
149 537832

Part 2 I need to look for two numbers next to a '*'....  Not really sure how to use my code above to work that.

In [ ]:
def findAStar(string,startingPoint):
  i = startingPoint
  while i <140 and string[i] != '*':
    i+=1
  return i

In [ ]:
findAStar(data.iloc[1,0],0)

8

In [ ]:
def findPosDigits(row,col):
  pos = []
  for i in range(row-1,row+2):
    for j in range(col-1,col+2):
      if data.iloc[i,0][j] in digits:
        pos.append([i,j])
  return pos

In [ ]:
findPosDigits(1,8)

[[0, 7], [2, 7], [2, 8]]

In [ ]:
def findNumberWithStartDigit(listPos):
  nums = []
  for pos in listPos:
    row = pos[0]
    i = pos[1]
    while i>-1 and data.iloc[row,0][i] in digits:
      i-=1
    start = i+1
    i = pos[1]
    while i<140 and data.iloc[row,0][i] in digits:
      i+=1
    end = i
    if int(data.iloc[row,0][start:end]) not in nums:
      nums.append(int(data.iloc[row,0][start:end]))
  return nums

In [ ]:
findNumberWithStartDigit(findPosDigits(1,8))

[180, 923]

In [ ]:
findAStar(data.iloc[1,0],9)

49

In [ ]:
findNumberWithStartDigit(findPosDigits(1,49))

[218, 608]

In [ ]:
findAStar(data.iloc[1,0],50)

53

In [ ]:
arr = findNumberWithStartDigit(findPosDigits(1,53))
len(arr)
arr[0]*arr[1]

185976

In [ ]:
sum = 0

for row in range(0,140):
  col = 0
  while findAStar(data.iloc[row,0],col)<140:
    col = findAStar(data.iloc[row,0],col)
    arr = findNumberWithStartDigit(findPosDigits(row,col))
    if len(arr) == 2:
      sum += arr[0]*arr[1]
    col +=1

In [ ]:
sum

81939900

In [ ]:
row

139

In [ ]:
col

0

In [ ]:
arr

[180, 923]

In [ ]:
findAStar(data.iloc[23,0],0)

78

In [ ]:
findAStar(data.iloc[22,0],21)

140

In [ ]:
findNumberWithStartDigit(findPosDigits(23,78))

[126, 903]

In [ ]:
data.iloc[21,0]

'716......439.498...........942....719..................697@...............*.....&688...............*..421........&..847................&....'

In [ ]:
data.iloc[22,0]

'...*261.....*.......*.................=..........................5.....800................-......471..%......753...............880.../......'

In [ ]:
data.iloc[23,0]

'.................289.715............832........120...=............&...........*126.........258..............*.........300.......*...909.....'

In [ ]:
data.iloc[24,0]

'.676.........432................757.................309..............311...903..................422.......335..38......*.....521............'

In [ ]:
findPosDigits(23,78)

[[23, 79], [24, 77]]

## Day 4:  Lotto

In [ ]:
data = pa.read_csv('https://raw.githubusercontent.com/nurfnick/AdventOfCode2023/main/input4',header = None,sep=':|\|', engine='python')

In [ ]:
data

,0,1,2
0,Card 1,33 56 23 64 92 86 94 7 59 13,86 92 64 43 10 70 16 55 79 33 56 8 7 25 82 ...
1,Card 2,61 66 75 1 27 38 93 90 34 43,94 46 62 49 35 88 45 70 15 22 20 86 56 38 64 ...
2,Card 3,57 7 33 56 85 6 88 34 80 8,92 42 7 60 61 51 40 6 67 35 3 25 87 2 98 ...
3,Card 4,79 85 94 74 15 62 84 88 76 56,56 9 22 57 4 92 62 79 84 64 72 55 34 88 66 ...
4,Card 5,57 94 99 25 52 67 69 31 26 78,94 52 31 83 70 45 40 67 89 11 81 24 25 61 26 ...
...,...,...,...
201,Card 202,86 56 57 83 11 19 52 69 36 17,65 72 11 95 73 49 25 75 15 5 84 35 18 71 44 ...
202,Card 203,76 23 26 70 12 48 60 11 72 64,90 56 99 59 64 62 15 84 71 11 85 93 98 33 46 ...
203,Card 204,23 75 70 14 95 84 61 9 66 77,79 8 1 64 50 41 32 93 58 15 33 10 28 72 82 ...
204,Card 205,2 99 53 15 32 6 16 69 21 14,96 98 24 66 6 47 4 54 45 46 42 13 75 11 80 ...
205,Card 206,74 30 29 66 68 2 3 34 79 87,63 45 88 78 98 27 97 32 38 75 9 11 71 93 55 ...

In [ ]:
data.iloc[0,1].strip()

'33 56 23 64 92 86 94  7 59 13'

In [ ]:
digits = ['1','2','3','4','5','6','7','8','9','0']

def convertToList(string):
  string = string.strip()
  i = 0
  nums = []
  while i<len(string):
    num = ''
    while i<len(string) and string[i] in digits:
      num += string[i]
      i+=1
    if num != '':
      nums.append(int(num))
    i+=1
  return nums

In [ ]:
convertToList(data.iloc[0,1])

[33, 56, 23, 64, 92, 86, 94, 7, 59, 13]

In [ ]:
sum = 0

for i in range(206):
  card = convertToList(data.iloc[i,1])
  winners = convertToList(data.iloc[i,2])
  n = 0
  for c in card:
    if c in winners:
      if n==0:
        n=1
      else:
        n*=2
  sum+=n

In [ ]:
sum

23441

In [ ]:
start = {i:1 for i in range(206)}

In [ ]:
for i in range(10):
  card = convertToList(data.iloc[i,1])
  winners = convertToList(data.iloc[i,2])
  nwinners = 0
  ncards = start[i]
  for c in card:
    if c in winners:
      nwinners+=1
  for j in range(i+1,nwinners):
    start[j]+= ncards

In [ ]:
start

{0: 1,
 1: 2,
 2: 2,
 3: 2,
 4: 4,
 5: 8,
 6: 16,
 7: 16,
 8: 24,
 9: 43,
 10: 1,
 11: 1,
 12: 1,
 13: 1,
 14: 1,
 15: 1,
 16: 1,
 17: 1,
 18: 1,
 19: 1,
 20: 1,
 21: 1,
 22: 1,
 23: 1,
 24: 1,
 25: 1,
 26: 1,
 27: 1,
 28: 1,
 29: 1,
 30: 1,
 31: 1,
 32: 1,
 33: 1,
 34: 1,
 35: 1,
 36: 1,
 37: 1,
 38: 1,
 39: 1,
 40: 1,
 41: 1,
 42: 1,
 43: 1,
 44: 1,
 45: 1,
 46: 1,
 47: 1,
 48: 1,
 49: 1,
 50: 1,
 51: 1,
 52: 1,
 53: 1,
 54: 1,
 55: 1,
 56: 1,
 57: 1,
 58: 1,
 59: 1,
 60: 1,
 61: 1,
 62: 1,
 63: 1,
 64: 1,
 65: 1,
 66: 1,
 67: 1,
 68: 1,
 69: 1,
 70: 1,
 71: 1,
 72: 1,
 73: 1,
 74: 1,
 75: 1,
 76: 1,
 77: 1,
 78: 1,
 79: 1,
 80: 1,
 81: 1,
 82: 1,
 83: 1,
 84: 1,
 85: 1,
 86: 1,
 87: 1,
 88: 1,
 89: 1,
 90: 1,
 91: 1,
 92: 1,
 93: 1,
 94: 1,
 95: 1,
 96: 1,
 97: 1,
 98: 1,
 99: 1,
 100: 1,
 101: 1,
 102: 1,
 103: 1,
 104: 1,
 105: 1,
 106: 1,
 107: 1,
 108: 1,
 109: 1,
 110: 1,
 111: 1,
 112: 1,
 113: 1,
 114: 1,
 115: 1,
 116: 1,
 117: 1,
 118: 1,
 119: 1,
 120: 1,
 121: 1,
 122: 1,
 123: 1,
 124: 1,
 125: 1,
 126: 1,
 127: 1,
 128: 1,
 129: 1,
 130: 1,
 131: 1,
 132: 1,
 133: 1,
 134: 1,
 135: 1,
 136: 1,
 137: 1,
 138: 1,
 139: 1,
 140: 1,
 141: 1,
 142: 1,
 143: 1,
 144: 1,
 145: 1,
 146: 1,
 147: 1,
 148: 1,
 149: 1,
 150: 1,
 151: 1,
 152: 1,
 153: 1,
 154: 1,
 155: 1,
 156: 1,
 157: 1,
 158: 1,
 159: 1,
 160: 1,
 161: 1,
 162: 1,
 163: 1,
 164: 1,
 165: 1,
 166: 1,
 167: 1,
 168: 1,
 169: 1,
 170: 1,
 171: 1,
 172: 1,
 173: 1,
 174: 1,
 175: 1,
 176: 1,
 177: 1,
 178: 1,
 179: 1,
 180: 1,
 181: 1,
 182: 1,
 183: 1,
 184: 1,
 185: 1,
 186: 1,
 187: 1,
 188: 1,
 189: 1,
 190: 1,
 191: 1,
 192: 1,
 193: 1,
 194: 1,
 195: 1,
 196: 1,
 197: 1,
 198: 1,
 199: 1,
 200: 1,
 201: 1,
 202: 1,
 203: 1,
 204: 1,
 205: 1}

## Day 5:  Planting the Seed

In [ ]:
data = pa.read_csv('https://raw.githubusercontent.com/nurfnick/AdventOfCode2023/main/input5',header = None,sep=':| ', engine='python')

In [ ]:
data

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,seeds,NaN,28965817.0,302170009.0,1.752849e+09,48290258.0,804904201.0,243492043.0,2.150340e+09,385349830.0,...,2.566297e+09,17565716.0,3.543572e+09,291402104.0,447111316.0,279196488.0,3.227221e+09,47952959.0,1.828836e+09,9607836.0
1,seed-to-soil,map,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3680121696,1920754815,614845600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1920754815,3846369604,448597692.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,193356576,570761634,505124585.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,79004094,2194801987,5553698.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,1149193536,1342265550,29480816.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,2997158500,3191476309,220034442.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,2715114305,3573409942,126485175.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,2446452559,2629702985,182296534.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
seeds = [int(data.iloc[0,i]) for i in range(2,22)]

In [ ]:
s = data.iloc[:,0]
t = s.str.contains('-')
conversions = s[t]
positions = t[t]

In [ ]:
conversions

1                 seed-to-soil
11          soil-to-fertilizer
55         fertilizer-to-water
102             water-to-light
143       light-to-temperature
181    temperature-to-humidity
200       humidity-to-location
Name: 0, dtype: object

In [ ]:
positions.index.values

array([  1,  11,  55, 102, 143, 181, 200])

In [ ]:
converter = {conversions[i]:i for i in positions.index.values }

In [ ]:
conversions = [conversions[i] for i in positions.index.values]

In [ ]:
conversions

['seed-to-soil',
 'soil-to-fertilizer',
 'fertilizer-to-water',
 'water-to-light',
 'light-to-temperature',
 'temperature-to-humidity',
 'humidity-to-location']

In [ ]:
def fallInRange(num,row):
  if num >= int(data.iloc[row,1]) and num < int(data.iloc[row,2]) + int(data.iloc[row,1]):
    return int(data.iloc[row,0]) + num - int(data.iloc[row,1]),True
  else:
    return num, False

In [ ]:
fallInRange(123,7)

(459278518, True)

In [ ]:
def convert(type, num):
  col = converter[type] + 1
  exit = False
  while not exit:
    try:
      num,exit = fallInRange(num,col)
      col+=1
    except:
      exit = True
  return num

In [ ]:
col = 2
num = 123
exit = False
while not exit:
  try:
    num,exit = fallInRange(num,col)
    col+=1
  except:
    exit = True

In [ ]:
num

459278518

In [ ]:
convert(conversions[0],123)

459278518

In [ ]:
num = 123
for con in conversions:
  num = convert(con,num)

In [ ]:
num

1534822728

In [ ]:
newSeed = []
for seed in seeds:
  num = seed
  for con in conversions:
    num = convert(con,num)
    #print(num,con)
  newSeed.append(num)

In [ ]:
min(newSeed)

525792406

In [ ]:
seeds

moreSeeds = []

startSeeds = seeds[::2]
stepsize = seeds[1::2]

for i in range(len(startSeeds)):
  moreSeeds.append([[startSeeds[i],stepsize[i]]])

moreSeeds[0]

[[28965817, 302170009]]

In [ ]:
def convertAndReturnCol(type, num):
  col = converter[type] + 1
  exit = False
  while not exit:
    try:
      num,exit = fallInRange(num,col)
      col+=1
    except:
      exit = True
  return num,col-1

In [ ]:
convertAndReturnCol(conversions[0],moreSeeds[0][0][0])

(124454188, 10)

In [ ]:
fallInRange(moreSeeds[0][0][1]+moreSeeds[0][0][1],10)

(604340018, False)

In [ ]:
def fallInRangeAddNewRange(num,row,oldRange):
  if num >= int(data.iloc[row,1]) and num < int(data.iloc[row,2]) + int(data.iloc[row,1]):
    if oldRange <= int(data.iloc[row,2])-(num - int(data.iloc[row,1])+1):
      adjustRange = False
    else:
      adjustRange = True
      oldRange = oldRange - (int(data.iloc[row,2])-(num - int(data.iloc[row,1])+1))
    return int(data.iloc[row,0]) + num - int(data.iloc[row,1]),True,oldRange,adjustRange
  else:
    return num, False, oldRange, False

In [ ]:
fallInRangeAddNewRange(moreSeeds[0][0][0],10,moreSeeds[0][0][1])

(124454188, True, 233267622, True)

In [ ]:
moreSeeds[0][0][1]

302170009

In [ ]:
moreSeeds[0].insert(0,[0,0])

In [ ]:
moreSeeds

[[[28965817, 302170009]],
 [[1752849261, 48290258]],
 [[804904201, 243492043]],
 [[2150339939, 385349830]],
 [[1267802202, 350474859]],
 [[2566296746, 17565716]],
 [[3543571814, 291402104]],
 [[447111316, 279196488]],
 [[3227221259, 47952959]],
 [[1828835733, 9607836]]]

In [ ]:
while not exit:
  try:
    num,exit,newRange,needRangeAdjustment = fallInRangeAddNewRange(num,col,oldRange)
    col+=1
  except:
    exit = True

In [ ]:
def updateMoreSeeds(seedNum,entry,row):
  while not exit:
    try:
      num,exit,newRange,needRangeAdjustment = fallInRangeAddNewRange(num,row,oldRange)
      col+=1
    except:
      exit = True
  if needRangeAdjustment:
    moreSeeds.insert(entry+1,[convert(type,),newRange])

I am getting too complicated.  Don't have a handle on what I am doing here.  Will try to refactor.  Frist I'll just fix the ranges to cover itself.

In [ ]:
def fallInRangeAddNewRange(num,row,oldRange):
  if num >= int(data.iloc[row,1]) and num < int(data.iloc[row,2]) + int(data.iloc[row,1]):
    if num + oldRange <= int(data.iloc[row,2]) + int(data.iloc[row,1]):
      adjustRange = False
    else:
      adjustRange = True
      oldRange = num + oldRange - (int(data.iloc[row,2]) + int(data.iloc[row,1]))
    return num,True,oldRange,adjustRange
  else:
    return num, False, oldRange, False

In [ ]:
def rangeTransform(type,startNum,range,posInArray,seedNum):
  row = converter[type] + 1
  exit = False
  while not exit:
    try:
      num,exit,extras,adjustRange = fallInRangeAddNewRange(startNum,row, range)
      row+=1
    except:
      exit = True
  if adjustRange:
    moreSeeds[seedNum][posInArray] = [num,range - extras]
    moreSeeds[seedNum].insert(posInArray+1,[num+(range-extras),extras])

In [ ]:
moreSeeds[0]

[[28965817, 302170009]]

In [ ]:
int(data.iloc[10,1])<=moreSeeds[0][0][0] and int(data.iloc[10,1])+int(data.iloc[10,2])>moreSeeds[0][0][0]

True

In [ ]:
moreSeeds[0][0][0]+moreSeeds[0][0][1] >int(data.iloc[10,1])+int(data.iloc[10,2])

True

In [ ]:
moreSeeds[0][0][0]+moreSeeds[0][0][1] -(int(data.iloc[10,1])+int(data.iloc[10,2]))

233267621

In [ ]:

for num, seed in enumerate(moreSeeds[0]):
  rangeTransform('seed-to-soil',seed[0],seed[1],num,0)

In [ ]:
moreSeeds[0]

[[28965817, 68902388], [97868205, 233267621]]

In [ ]:


for num, seed in enumerate(moreSeeds[0]):
  rangeTransform('seed-to-soil',seed[0],seed[1],num,0)
moreSeeds[0]

[[28965817, 68902387], [262233439, 197044955], [298456106, 36222667]]

In [ ]:
def rangeAdjustOnSeed(type,seedNum):
  for num, seed in enumerate(moreSeeds[seedNum]):
    rangeTransform(type,seed[0],seed[1],num,seedNum)

In [ ]:

moreSeeds[1]

[[1752849261, 48290258]]

In [ ]:
rangeAdjustOnSeed('seed-to-soil',2)

moreSeeds[2]

[[804904201, 243492043]]

In [ ]:
def transformAfterRangeAdjust(type,seedNum):
  for num, seed in enumerate(moreSeeds[seedNum]):
    moreSeeds[seedNum][num][0] = convert(type,seed[0])

In [ ]:
moreSeeds[0]

[[28965817, 68902388], [262233438, 197044957], [298456102, 36222664]]

In [ ]:
transformAfterRangeAdjust('seed-to-soil',0)

moreSeeds

[[[124454188, 68902388], [862846394, 197044957], [899069058, 36222664]],
 [[1752849261, 48290258]],
 [[804904201, 243492043]],
 [[2150339939, 385349830]],
 [[1267802202, 350474859]],
 [[2566296746, 17565716]],
 [[3543571814, 291402104]],
 [[447111316, 279196488]],
 [[3227221259, 47952959]],
 [[1828835733, 9607836]]]

I don't think this is correct but I am going to run it and see if I get the answer...

In [ ]:
moreSeeds = []

startSeeds = seeds[::2]
stepsize = seeds[1::2]

for i in range(len(startSeeds)):
  moreSeeds.append([[startSeeds[i],stepsize[i]]])


for type in conversions:
  for seed in range(10):
    rangeAdjustOnSeed(type,seed)
    transformAfterRangeAdjust(type,seed)

In [ ]:
minimum = 1000000000000000000000000

for seed in moreSeeds:
  for val in seed:
    #print(val[0])
    minimum = min(minimum,val[0])

In [ ]:
moreSeeds[0][0]

[721918543, 45856488]

In [ ]:
minimum

79004094

## Day 6:  Off to the Races

In [ ]:
time = [45,98,83,73]
distance = [295, 1734, 1278, 1210]

def distanceBasedOnChargeTime(time,charge):
  if charge >= time:
    return 0
  else:
    return charge*(time-charge)

total = 1
for num,t in enumerate(time):
  howMany = 0
  for j in range(t):
    if distanceBasedOnChargeTime(t,j)>= distance[num]:
      howMany +=1
  total*=howMany

In [ ]:
total

1413720

In [ ]:
time = 45988373
distance = 295173412781210

import sympy

x = sympy.Symbol('x')

f = x*(time-x)

In [ ]:
sol = sympy.solve(f-distance,x)

In [ ]:
import math
a = math.ceil(sol[0])

In [ ]:
b = math.floor(sol[1])

In [ ]:
b-a+1

30565288

## Day 7 Counting Cards

In [152]:
data = pa.read_csv('https://raw.githubusercontent.com/nurfnick/AdventOfCode2023/main/input7', header = None,
                     sep=' ', engine='python')

In [153]:
data

         0    1
0    55AAA  534
1    QKK3Q  408
2    Q4Q4Q  607
3    5J5K5  793
4    J6396  841
..     ...  ...
995  55Q55  918
996  64545  167
997  82288   63
998  3993J  761
999  622J8  955

[1000 rows x 2 columns]

In [357]:
fiveOfKind = []
fourOfKind = []
fullHouse = []
threeOfKind = []
twoPair = []
onePair = []


allHands = []

for i in range(1000):
  allHands.append([data.iloc[i,0],data.iloc[i,1]])

In [358]:
for hand in allHands:
  testCard = hand[0][0]
  kind = 0
  for card in hand[0]:
    if card == testCard:
      kind+=1
  if kind == 5:
    fiveOfKind.append(hand)
    allHands.remove(hand)

In [359]:
fiveOfKind

[['JJJJJ', 155]]

In [363]:
for hand in allHands:
  testCard1 = hand[0][0]
  kind = 0
  for card in hand[0]:
    if card == testCard1:
      kind += 1
    else:
      testCard2 = card
      kind2 = 0
  for card in hand[0]:
    if card == testCard2:
      kind2+=1
  if kind == 4 or kind2 == 4:
    fourOfKind.append(hand)
    allHands.remove(hand)

In [364]:
len(fourOfKind)

99

In [368]:
for hand in allHands:
  card1 = hand[0][0]
  card2 = ''
  kind1 = 0
  kind2 = 0
  for card in hand[0]:
    if card == card1:
      kind1+=1
    elif card2 == '':
      card2 = card
      kind2+=1
    elif card2 == card:
      kind2+=1
  #print(kind1,kind2,hand)
  if (kind1 == 3 and kind2 == 2) or (kind1 == 2 and kind2 == 3):
    fullHouse.append(hand)
    allHands.remove(hand)

In [369]:
len(fullHouse)

102

In [371]:
len(allHands)

798

In [376]:
for hand in allHands:
  card1 = hand[0][0]
  kind1 = 0
  card2 = ''
  kind2 = 0
  card3 = ''
  kind3 = 0
  for card in hand[0]:
    if card == card1:
      kind1+=1
    elif card2 == '':
      card2 = card
      kind2+=1
    elif card2 == card:
      kind2+=1
    elif card3 == '':
      card3 = card
      kind3+= 1
    elif card3 == card:
      kind3+=1
  if kind1 == 3 or kind2 == 3 or kind3 == 3:
    threeOfKind.append(hand)
    allHands.remove(hand)

In [377]:
len(threeOfKind)

191

In [379]:
len(allHands) +len(fiveOfKind) + len(fourOfKind) + len(fullHouse) + len(threeOfKind)

1000

In [386]:
for hand in allHands:
  card1 = hand[0][0]
  kind1 = 0
  card2 = ''
  kind2 = 0
  card3 = ''
  kind3 = 0
  for card in hand[0]:
    if card == card1:
      kind1+=1
    elif card2 == '':
      card2 = card
      kind2+=1
    elif card2 == card:
      kind2+=1
    elif card3 == '':
      card3 = card
      kind3+=1
    elif card3 == card:
      kind3+=1
  if (kind1 == 2 & kind2 == 2) | (kind1 == 2 & kind3 == 2) | (kind2 == 2 & kind3 == 2):
    twoPair.append(hand)
    allHands.remove(hand)

In [387]:
len(twoPair)

159

In [388]:
len(allHands) +len(fiveOfKind) + len(fourOfKind) + len(fullHouse) + len(threeOfKind)+ len(twoPair)

1000

In [398]:
for hand in allHands:
  card1 = hand[0][0]
  kind1 = 0
  card2 = ''
  kind2 = 0
  card3 = ''
  kind3 = 0
  card4 = ''
  kind4 = 0
  for card in hand[0]:
    if card == card1:
      kind1+=1
    elif card2 == '':
      card2 = card
      kind2+=1
    elif card2 == card:
      kind2+=1
    elif card3 == '':
      card3 = card
      kind3+= 1
    elif card3 == card:
      kind3+=1
    elif card4 == '':
      card4 = card
      kind4+= 1
    elif card4 == card:
      kind4+=1
  if kind1 == 2 or  kind2 == 2 or kind3 == 2 or kind4 == 2:
    onePair.append(hand)
    allHands.remove(hand)

In [399]:
len(onePair)

253

In [401]:
len(allHands) +len(fiveOfKind) + len(fourOfKind) + len(fullHouse) + len(threeOfKind)+ len(twoPair) + len(onePair)

1000

In [402]:
stringForComparison = 'AKQJT98765432'

string.index('T')

4

In [403]:
def compareTwoSameHands(hand1,hand2):
  i = 0
  while hand1[i] == hand2[i]:
    i+=1
  if stringForComparison.index(hand1[i]) > stringForComparison.index(hand2[i]):
    return False
  return True

In [404]:
compareTwoSameHands('A2345','AK345')

False

In [405]:
def reorderArrays(arrayOfHands):
  for i in range(len(arrayOfHands)):
    for num in range(len(arrayOfHands)-1):
      #print(arrayOfHands[num][0])
      if compareTwoSameHands(arrayOfHands[num][0],arrayOfHands[num+1][0]):
        arrayOfHands.insert(num,arrayOfHands.pop(num+1))

In [406]:
len(allHands)

195

In [408]:
reorderArrays(allHands)

In [410]:
reorderArrays(onePair)

In [412]:
reorderArrays(twoPair)

In [414]:
reorderArrays(threeOfKind)

In [416]:
reorderArrays(fullHouse)

In [418]:
reorderArrays(fourOfKind)

In [419]:
allHands.extend(onePair)
allHands.extend(twoPair)
allHands.extend(threeOfKind)
allHands.extend(fullHouse)
allHands.extend(fourOfKind)
allHands.extend(fiveOfKind)

In [420]:
len(allHands)

1000

In [421]:
sum = 0

for i in range(len(allHands)):
  sum += allHands[i][1]*(i+1)

In [422]:
sum

247823654

In [423]:
allHands

[['23J7Q', 556],
 ['246A7', 141],
 ['247QA', 678],
 ['25794', 200],
 ['27453', 415],
 ['27A89', 781],
 ['2876K', 822],
 ['28QAJ', 22],
 ['2T453', 161],
 ['2T735', 435],
 ['2T873', 292],
 ['2Q978', 596],
 ['2K634', 154],
 ['2K67J', 146],
 ['2AJ54', 672],
 ['32465', 659],
 ['32584', 809],
 ['329K6', 444],
 ['3548T', 316],
 ['357A2', 747],
 ['35976', 608],
 ['35QKJ', 69],
 ['36J9Q', 498],
 ['37T2A', 201],
 ['37KQ4', 772],
 ['387QK', 461],
 ['394JT', 847],
 ['3985A', 548],
 ['3TKJ7', 985],
 ['3J784', 698],
 ['3JT4K', 376],
 ['3K6TQ', 373],
 ['3K752', 35],
 ['3K827', 421],
 ['3K8T5', 253],
 ['3A4TQ', 795],
 ['428JQ', 973],
 ['42Q67', 577],
 ['43956', 823],
 ['453AQ', 786],
 ['463TQ', 263],
 ['46T27', 829],
 ['4T39K', 942],
 ['4J792', 220],
 ['4JQ53', 97],
 ['4Q26K', 796],
 ['4KQT6', 491],
 ['4A7J5', 633],
 ['53TQ7', 362],
 ['57JK4', 948],
 ['5873T', 914],
 ['58T39', 107],
 ['58J36', 244],
 ['59Q28', 482],
 ['59QA7', 401],
 ['5TQA8', 418],
 ['5Q76K', 571],
 ['5K8J4', 132],
 ['5A94Q', 636],
 ['5AQT4', 31],
 ['634K8', 352],
 ['63782', 970],
 ['647A3', 968],
 ['64875', 404],
 ['649J8', 434],
 ['64Q73', 688],
 ['64A75', 658],
 ['65A3Q', 39],
 ['692K7', 709],
 ['694T7', 940],
 ['6983J', 351],
 ['6T2A5', 99],
 ['6T734', 707],
 ['6J972', 738],
 ['6Q594', 535],
 ['6Q7KJ', 519],
 ['6Q84J', 980],
 ['6K372', 676],
 ['6KA98', 187],
 ['74K2J', 815],
 ['75JAT', 895],
 ['763AQ', 981],
 ['76T59', 92],
 ['76KA5', 5],
 ['782TA', 883],
 ['796QA', 497],
 ['79A26', 604],
 ['7T284', 268],
 ['7J36K', 875],
 ['7J49Q', 426],
 ['7JT42', 856],
 ['7K246', 767],
 ['7AT56', 594],
 ['82JK5', 900],
 ['8369Q', 912],
 ['83J5K', 465],
 ['8473A', 810],
 ['857Q3', 997],
 ['86T3J', 820],
 ['86A34', 653],
 ['87QTJ', 370],
 ['8942A', 33],
 ['8975A', 353],
 ['89AK4', 637],
 ['8T6KJ', 456],
 ['8QJT6', 483],
 ['8KA9J', 961],
 ['8A452', 991],
 ['8AJ75', 863],
 ['937JA', 728],
 ['938J5', 511],
 ['947JT', 9],
 ['94853', 475],
 ['9524K', 589],
 ['958K2', 485],
 ['95T8J', 990],
 ['963A2', 517],
 ['96A7K', 255],
 ['98J25', 852],
 ['9J347', 270],
 ['9JT68', 164],
 ['9Q743', 540],
 ['9K2JQ', 76],
 ['9K62A', 536],
 ['9KQ45', 181],
 ['T2JQ8', 133],
 ['T4J38', 383],
 ['T538J', 590],
 ['T57J9', 813],
 ['T5936', 463],
 ['T76Q9', 999],
 ['T7Q4K', 55],
 ['T9524', 261],
 ['TQ746', 650],
 ['TK783', 399],
 ['TKQ4J', 205],
 ['TKAQ5', 928],
 ['TA76Q', 598],
 ['J347A', 280],
 ['J3596', 157],
 ['J3T2Q', 654],
 ['J48K3', 216],
 ['J4T56', 339],
 ['J76T3', 787],
 ['J938K', 562],
 ['JTQK8', 884],
 ['Q274T', 962],
 ['Q3594', 392],
 ['Q36AT', 195],
 ['Q3A85', 488],
 ['Q453T', 194],
 ['Q4852', 575],
 ['Q49J2', 127],
 ['Q63J5', 791],
 ['Q6J73', 384],
 ['Q72T8', 734],
 ['Q76A4', 818],
 ['Q8K49', 369],
 ['Q8K57', 832],
 ['Q8A4J', 68],
 ['Q945T', 478],
 ['Q9567', 174],
 ['Q9J78', 407],
 ['K28A6', 574],
 ['K3Q46', 740],
 ['K4A3J', 7],
 ['K574Q', 934],
 ['K5932', 819],
 ['K5A82', 720],
 ['K842J', 920],
 ['K8469', 198],
 ['K85T9', 812],
 ['K8637', 547],
 ['K9A2Q', 602],
 ['KT6A4', 116],
 ['KT986', 552],
 ['KJ495', 790],
 ['KJT5Q', 480],
 ['KQ97T', 496],
 ['KAT6J', 563],
 ['A468K', 647],
 ['A4KJ6', 870],
 ['A5K83', 723],
 ['A67J3', 125],
 ['A7359', 447],
 ['A749J', 760],
 ['A8265', 313],
 ['A8T69', 926],
 ['AQ27K', 481],
 ['AQ475', 169],
 ['AK265', 673],
 ['AK359', 693],
 ['AK653', 758],
 ['AK7Q4', 45],
 ['AKT75', 412],
 ['22673', 899],
 ['22863', 343],
 ['22T9J', 452],
 ['22JT5', 307],
 ['23J77', 752],
 ['2445K', 984],
 ['24668', 274],
 ['24766', 419],
 ['258K8', 857],
 ['25KKJ', 379],
 ['2699J', 54],
 ['27K78', 62],
 ['28468', 506],
 ['28J5J', 993],
 ['2T998', 361],
 ['2TT5J', 553],
 ['2QJJ4', 996],
 ['2QAJ2', 389],
 ['2KA9A', 739],
 ['32K39', 983],
 ['33267', 367],
 ['33A26', 941],
 ['35873', 128],
 ['373Q8', 729],
 ['37QTQ', 88],
 ['39545', 423],
 ['3TA4A', 742],
 ['3J448', 310],
 ['3J522', 80],
 ['3JJ82', 212],
 ['3K3J5', 396],
 ['3A994', 665],
 ['42JA4', 137],
 ['43966', 844],
 ['4558K', 526],
 ['46AJ4', 130],
 ['4724Q', 504],
 ['477JK', 138],
 ['487AA', 736],
 ['492A9', 219],
 ['49854', 445],
 ['4J476', 838],
 ['4J8K4', 65],
 ['4Q3KK', 711],
 ['4QQ5K', 597],
 ['4KQ9K', 635],
 ['4KQQ9', 327],
 ['4A2AJ', 638],
 ['4A6A2', 453],
 ['52QJ2', 380],
 ['53Q73', 748],
 ['58474', 765],
 ['5898Q', 543],
 ['5954J', 762],
 ['5992J', 660],
 ['5T9K5', 848],
 ['5TT8K', 410],
 ['5J325', 902],
 ['5J5K9', 741],
 ['5JK88', 846],
 ['5Q425', 211],
 ['5QT35', 202],
 ['5A539', 908],
 ['5AQAT', 756],
 ['5AA73', 188],
 ['622J8', 955],
 ['64A43', 420],
 ['66423', 72],
 ['677J4', 581],
 ['67JJ2', 499],
 ['67KK8', 583],
 ['68J33', 722],
 ['6T7T9', 735],
 ['6T98T', 927],
 ['6TT73', 788],
 ['6J7QQ', 889],
 ['6J922', 686],
 ['6JQ4Q', 140],
 ['6JAA2', 333],
 ['6Q396', 617],
 ['6Q42Q', 966],
 ['6QT96', 355],
 ['6K768', 304],
 ['6K8J6', 264],
 ['6A79A', 26],
 ['728KK', 84],
 ['737JA', 614],
 ['7427K', 185],
 ['75A65', 745],
 ['76QQA', 4],
 ['774J9', 184],
 ['77T48', 868],
 ['78485', 566],
 ['787Q5', 172],
 ['79J7Q', 3],
 ['7J2JT', 400],
 ['7J332', 344],
 ['7Q87J', 297],
 ['7K7A4', 523],
 ['7A8JJ', 248],
 ['7A992', 777],
 ['829K9', 464],
 ['833Q4', 697],
 ['838Q9', 893],
 ['848J6', 160],
 ['84929', 932],
 ['84K24', 336],
 ['855K3', 744],
 ['85Q45', 436],
 ['85Q78', 477],
 ['85QQ4', 104],
 ['86Q22', 239],
 ['87598', 67],
 ['8768J', 120],
 ['8852Q', 580],
 ['8J68A', 325],
 ['8Q696', 111],
 ['8Q799', 876],
 ['8Q85K', 805],
 ['8A485', 429],
 ['9459T', 631],
 ['94T64', 377],
 ['95K5Q', 882],
 ['96924', 394],
 ['9697T', 977],
 ['98596', 529],
 ['98852', 558],
 ['99JQ4', 603],
 ['9J59K', 513],
 ['9J697', 954],
 ['9JT44', 323],
 ['9JKK7', 749],
 ['9Q2T2', 716],
 ['9K58K', 732],
 ['9A7A5', 700],
 ['9A7AJ', 570],
 ['9A833', 538],
 ['9AK97', 492],
 ['T226K', 780],
 ['T2JQQ', 215],
 ['T498T', 472],
 ['T5J53', 768],
 ['T737A', 881],
 ['T7T8K', 689],
 ['T8Q5Q', 363],
 ['T9KJT', 175],
 ['TT3A4', 381],
 ['TTJ6K', 234],
 ['TJ6KK', 549],
 ['TJ7KJ', 241],
 ['TJA66', 199],
 ['TQ96Q', 947],
 ['TAT2Q', 94],
 ['TAT52', 695],
 ['J2362', 578],
 ['J2767', 106],
 ['J2TJ4', 901],
 ['J424T', 705],
 ['J44K7', 53],
 ['J5856', 586],
 ['J6396', 841],
 ['J64AA', 251],
 ['J6643', 305],
 ['J7K7A', 798],
 ['J8K2K', 455],
 ['J99T2', 64],
 ['J99A4', 663],
 ['JTQT2', 271],
 ['JTAT8', 61],
 ['JJ6K4', 386],
 ['JQ663', 839],
 ['JQQ75', 502],
 ['JK2T2', 559],
 ['JA37A', 746],
 ['JAQJ8', 764],
 ['Q33KT', 173],
 ['Q33A5', 298],
 ['Q33A6', 866],
 ['Q373T', 311],
 ['Q3932', 102],
 ['Q3J93', 203],
 ['Q4QKJ', 493],
 ['Q5J5K', 551],
 ['Q66J7', 726],
 ['Q6QK7', 425],
 ['Q86T8', 708],
 ['Q9KQ2', 417],
 ['QT383', 350],
 ['QT7AT', 409],
 ['QJ399', 557],
 ['QJ6J8', 331],
 ['QJTAA', 375],
 ['QJK3J', 670],
 ['QQ3J2', 398],
 ['QQ5T7', 176],
 ['QQ794', 792],
 ['QQK3J', 15],
 ['QQAJ4', 131],
 ['QK6K9', 229],
 ['QKK3J', 906],
 ['QA3T3', 265],
 ['QA44T', 666],
 ['QA8A7', 100],
 ['K249K', 537],
 ['K2988', 903],
 ['K2JTT', 135],
 ['K2K4J', 6],
 ['K3237', 43],
 ['K3477', 545],
 ['K3K7J', 887],
 ['K4654', 177],
 ['K566T', 467],
 ['K68QK', 40],
 ['K78K5', 628],
 ['K8466', 119],
 ['K9AQQ', 833],
 ['K9AAJ', 850],
 ['KTJAK', 872],
 ['KJ525', 115],
 ['KJK54', 269],
 ['KJK76', 11],
 ['KQT7T', 976],
 ['KK4T2', 397],
 ['KK4J9', 136],
 ['KK69J', 814],
 ['KK9A2', 439],
 ['KA39A', 611],
 ['KA9KQ', 236],
 ['KA9AT', 124],
 ['A33J8', 440],
 ['A5453', 51],
 ['A6632', 967],
 ['A7974', 913],
 ['A82AQ', 885],
 ['A8AT7', 601],
 ['A9Q29', 855],
 ['AT3AJ', 959],
 ['AT7AQ', 47],
 ['ATTK4', 719],
 ['AJJ89', 279],
 ['AJQ6A', 259],
 ['AJKAQ', 687],
 ['AQ4A3', 804],
 ['AQ966', 192],
 ['AQA54', 806],
 ['AK545', 32],
 ['AK5AJ', 291],
 ['AK8TA', 546],
 ['AKK97', 541],
 ['AKA4J', 448],
 ['AKA58', 142],
 ['AKAJT', 50],
 ['AA2JT', 890],
 ['227K7', 753],
 ['22JJA', 952],
 ['233TT', 250],
 ['25625', 315],
 ['27A2A', 1000],
 ['2QQ24', 661],
 ['2QKQK', 302],
 ['2K62K', 228],
 ['2KJ2K', 564],
 ['2ATAT', 679],
 ['335KK', 93],
 ['33TKT', 347],
 ['33AAJ', 609],
 ['3434J', 843],
 ['3636T', 675],
 ['38832', 48],
 ['39369', 503],
 ['3993J', 761],
 ['3TJT3', 349],
 ['3K636', 36],
 ['3KK77', 655],
 ['43345', 939],
 ['43348', 101],
 ['44J9J', 509],
 ['45854', 960],
 ['46767', 704],
 ['4747Q', 894],
 ['49495', 717],
 ['4T2T2', 360],
 ['4T7T7', 915],
 ['4J2J2', 262],
 ['4QJQ4', 37],
 ['4K55K', 630],
 ['4K664', 433],
 ['4A94A', 897],
 ['52TT2', 306],
 ['53563', 346],
 ['53735', 706],
 ['55994', 910],
 ['55JKK', 254],
 ['55A88', 669],
 ['575J7', 58],
 ['57JJ7', 454],
 ['59988', 208],
 ['5T5T9', 629],
 ['5T88T', 691],
 ['5J7J5', 500],
 ['5QAAQ', 179],
 ['5K56K', 778],
 ['62Q2Q', 469],
 ['63655', 387],
 ['64545', 167],
 ['66233', 874],
 ['6688T', 816],
 ['668K8', 378],
 ['6699J', 123],
 ['66AAQ', 641],
 ['67267', 122],
 ['68586', 318],
 ['69956', 933],
 ['6JJTT', 766],
 ['6Q5Q5', 683],
 ['6Q6Q4', 567],
 ['6Q86Q', 919],
 ['747J4', 702],
 ['77233', 831],
 ['7733A', 964],
 ['77454', 727],
 ['7766K', 512],
 ['78585', 414],
 ['787TT', 276],
 ['78J87', 427],
 ['78AA7', 134],
 ['7J766', 290],
 ['7K878', 591],
 ['7AT7A', 312],
 ['7AA7K', 626],
 ['828KK', 41],
 ['82928', 28],
 ['83348', 664],
 ['8338J', 77],
 ['8338A', 911],
 ['84648', 42],
 ['84843', 182],
 ['84847', 152],
 ['87447', 714],
 ['8822K', 466],
 ['88J66', 836],
 ['8JQ8Q', 528],
 ['8A228', 524],
 ['92T9T', 405],
 ['93322', 159],
 ['9559Q', 221],
 ['95922', 606],
 ['9595J', 300],
 ['96226', 168],
 ['96649', 210],
 ['9889Q', 620],
 ['98928', 998],
 ['98984', 393],
 ['99733', 222],
 ['9QJ9J', 1],
 ['9QQ9K', 430],
 ['T2332', 326],
 ['T2T66', 690],
 ['T44TJ', 252],
 ['TTA5A', 163],
 ['TJ99T', 505],
 ['TKT3K', 737],
 ['TAA6T', 587],
 ['TAAKK', 191],
 ['J2288', 684],
 ['J22AA', 554],
 ['J2772', 699],
 ['J2AAJ', 849],
 ['J3232', 416],
 ['J3J44', 233],
 ['J59J5', 382],
 ['J5AA5', 802],
 ['J622J', 247],
 ['J7QQ7', 865],
 ['J8QJ8', 474],
 ['JQ2Q2', 18],
 ['JKK66', 59],
 ['JKKQQ', 479],
 ['JA7A7', 712],
 ['Q454Q', 105],
 ['Q77KK', 643],
 ['Q7Q57', 769],
 ['QT9T9', 79],
 ['QQ828', 356],
 ['QQTTJ', 91],
 ['QQJ55', 139],
 ['QQJAA', 364],
 ['QKK3Q', 408],
 ['K3535', 86],
 ['K3K32', 95],
 ['K4994', 634],
 ['K55KT', 281],
 ['K66TT', 950],
 ['K7997', 207],
 ['K868K', 514],
 ['K885K', 982],
 ['K887K', 283],
 ['K922K', 936],
 ['KT5KT', 639],
 ['A22AT', 27],
 ['A28A2', 925],
 ['A2AK2', 288],
 ['A337A', 965],
 ['A4664', 230],
 ['A5Q5A', 413],
 ['A6T6T', 272],
 ['A6A33', 867],
 ['A88AT', 994],
 ['A93A3', 162],
 ['AJJ8A', 341],
 ['AQA4Q', 338],
 ['AA6KK', 931],
 ['22472', 8],
 ['2252J', 645],
 ['22T72', 238],
 ['22TQ2', 165],
 ['22JA2', 337],
 ['23733', 470],
 ['262A2', 89],
 ['27228', 837],
 ['272J2', 114],
 ['27774', 246],
 ['282A2', 916],
 ['2J555', 190],
 ['2Q722', 789],
 ['2A6AA', 214],
 ['2AA3A', 648],
 ['2AAAQ', 226],
 ['3332J', 935],
 ['34484', 770],
 ['34999', 592],
 ['34A33', 231],
 ['37K77', 853],
 ['383J3', 879],
 ['3TJTT', 956],
 ['3JT33', 275],
 ['3QQ9Q', 721],
 ['3K999', 782],
 ['43332', 30],
 ['44423', 605],
 ['4443A', 825],
 ['4464T', 743],
 ['44724', 724],
 ['44743', 943],
 ['44847', 949],
 ['44J4K', 622],
 ['44K24', 797],
 ['4555A', 880],
 ['494J4', 357],
 ['49544', 945],
 ['4T454', 859],
 ['4J424', 390],
 ['4QQJQ', 49],
 ['4KQQQ', 12],
 ['4A4T4', 206],
 ['53552', 877],
 ['54585', 680],
 ['54644', 242],
 ['55598', 576],
 ['555Q4', 522],
 ['555K6', 224],
 ['55T53', 520],
 ['55J53', 335],
 ['55J59', 507],
 ['55QJ5', 431],
 ['55K45', 20],
 ['56Q55', 821],
 ['57655', 109],
 ['58553', 715],
 ['58J88', 828],
 ['59575', 682],
 ['59A55', 368],
 ['5T55K', 649],
 ['5J5K5', 793],
 ['5QQQJ', 223],
 ['5AATA', 476],
 ['6222J', 78],
 ['62922', 442],
 ['63266', 731],
 ['63J33', 860],
 ['656Q6', 240],
 ['66642', 953],
 ['66692', 584],
 ['666T5', 71],
 ['666J2', 213],
 ['666J3', 301],
 ['6686K', 568],
 ['66J56', 144],
 ['66JQ6', 623],
 ['67636', 489],
 ['67662', 971],
 ['68266', 656],
 ['6QQ4Q', 358],
 ['6K3KK', 98],
 ['6AK66', 484],
 ['72778', 365],
 ['7377J', 70],
 ['774K7', 19],
 ['7772J', 544],
 ['777J9', 25],
 ['777A8', 615],
 ['77K72', 388],
 ['77K78', 296],
 ['7TTT4', 249],
 ['7JT77', 986],
 ['7QQQT', 56],
 ['7QQQA', 459],
 ['88382', 34],
 ['8848T', 969],
 ['88J83', 938],
 ['8J898', 424],
 ['8JK88', 896],
 ['8QTTT', 891],
 ['8QKQQ', 644],
 ['8A688', 979],
 ['92993', 674],
 ['93997', 779],
 ['95777', 972],
 ['95939', 171],
 ['96997', 533],
 ['97899', 46],
 ['97959', 218],
 ['979J9', 775],
 ['98788', 108],
 ['98868', 907],
 ['9939J', 625],
 ['994Q9', 73],
 ['9992J', 542],
 ['9993Q', 751],
 ['99Q95', 845],
 ['9JAAA', 149],
 ['9KJ99', 550],
 ['9AAAK', 237],
 ['T2777', 988],
 ['T2KTT', 703],
 ['T5888', 314],
 ['T5TJT', 342],
 ['T64TT', 193],
 ['T6663', 992],
 ['T7999', 826],
 ['T83TT', 621],
 ['T8JTT', 245],
 ['T9KKK', 82],
 ['TT4JT', 75],
 ['TT8T2', 402],
 ['TT9TJ', 14],
 ['TTT4Q', 303],
 ['TTJ6T', 324],
 ['TJKTT', 595],
 ['TQTT3', 854],
 ['TQTJT', 411],
 ['TA888', 794],
 ['TAT5T', 340],
 ['TAT6T', 235],
 ['J2922', 148],
 ['J3533', 710],
 ['J5444', 372],
 ['J5557', 277],
 ['J5558', 830],
 ['J77A7', 774],
 ['J8Q88', 468],
 ['J8KKK', 284],
 ['JJJ6Q', 217],
 ['JKK3K', 334],
 ['JKKTK', 573],
 ['Q3QQ7', 328],
 ['Q999J', 96],
 ['QTTTA', 293],
 ['QQ76Q', 730],
 ['QQT4Q', 267],
 ['QQQ45', 74],
 ['QQQ6J', 755],
 ['QKKAK', 103],
 ['K5KKT', 892],
 ['K79KK', 501],
 ['K7J77', 840],
 ['K8889', 909],
 ['K8A88', 441],
 ['K9KAK', 87],
 ['KJ6KK', 85],
 ['KJKQK', 582],
 ['KQTKK', 186],
 ['KK4KJ', 17],
 ['KKQ2K', 243],
 ['KKK74', 616],
 ['KAJAA', 422],
 ['KAK3K', 610],
 ['A2232', 922],
 ['A2888', 156],
 ['A3383', 24],
 ['A46AA', 60],
 ['A53AA', 348],
 ['A77K7', 295],
 ['A7999', 873],
 ['A7AAK', 371],
 ['A8AJA', 227],
 ['AT2TT', 803],
 ['AT3TT', 827],
 ['AKK6K', 917],
 ['AA5JA', 878],
 ['AA72A', 923],
 ['AAQJA', 432],
 ['AAA52', 527],
 ['222TT', 667],
 ['22662', 166],
 ['22992', 320],
 ['22J2J', 579],
 ['25522', 531],
 ['27722', 81],
 ['2QQQ2', 151],
 ['2A2AA', 354],
 ['33399', 754],
 ['33535', 759],
 ['33999', 256],
 ['33JJ3', 515],
 ['34334', 657],
 ['34434', 180],
 ['36663', 153],
 ['37737', 757],
 ['3KK33', 322],
 ['42442', 944],
 ['444QQ', 642],
 ['444AA', 294],
 ['44884', 937],
 ['45554', 525],
 ['46664', 178],
 ['47474', 438],
 ['4KKK4', 773],
 ['55252', 66],
 ['55444', 21],
 ['55666', 10],
 ['55858', 258],
 ['55888', 974],
 ['55995', 516],
 ['55Q5Q', 808],
 ['55A5A', 851],
 ['55AAA', 534],
 ['57577', 963],
 ['5K55K', 652],
 ['66262', 321],
 ['66444', 817],
 ['66555', 800],
 ['666JJ', 924],
 ['66969', 685],
 ['66QQQ', 44],
 ['67667', 694],
 ['72277', 309],
 ['74747', 733],
 ['76776', 842],
 ['77333', 52],
 ['777QQ', 951],
 ['77888', 671],
 ['79977', 126],
 ['7TTT7', 763],
 ['7J77J', 406],
 ['7AA77', 13],
 ['82282', 287],
 ['82288', 63],
 ['83338', 858],
 ['83388', 565],
 ['88666', 864],
 ['89988', 978],
 ['8QQ88', 718],
 ['8A8AA', 437],
 ['97979', 651],
 ['99595', 593],
 ['99669', 921],
 ['99922', 692],
 ['99988', 225],
 ['99QQQ', 776],
 ['99A9A', 771],
 ['9T9T9', 871],
 ['9JJ99', 904],
 ['T44TT', 451],
 ['T55TT', 862],
 ['T5T55', 861],
 ['T9TT9', 129],
 ['TT444', 16],
 ['TT777', 145],
 ['J3JJ3', 510],
 ['J44J4', 681],
 ['J5JJ5', 112],
 ['J8J88', 811],
 ['JQJQQ', 539],
 ['Q2Q22', 196],
 ['Q3Q33', 600],
 ['Q4Q4Q', 607],
 ['QTQQT', 23],
 ['QQAQA', 189],
 ['QQAAA', 987],
 ['QKKKQ', 785],
 ['K4K44', 117],
 ['K77K7', 834],
 ['K7KK7', 183],
 ['K99K9', 286],
 ['K99KK', 946],
 ['KK666', 490],
 ['KK6K6', 385],
 ['KKTKT', 158],
 ['KKJKJ', 486],
 ['KKK88', 701],
 ['A22A2', 29],
 ['A6A6A', 460],
 ['AAJAJ', 532],
 ['AAKAK', 121],
 ['22228', 995],
 ['2222A', 110],
 ['22262', 278],
 ['22272', 359],
 ['222J2', 374],
 ['222K2', 799],
 ['22322', 599],
 ['23333', 38],
 ['25222', 366],
 ['3333K', 930],
 ['33363', 585],
 ['33T33', 495],
 ['33J33', 113],
 ['36666', 618],
 ['37777', 627],
 ['44442', 450],
 ['4444Q', 905],
 ['44544', 725],
 ['44644', 118],
 ['44744', 197],
 ['44J44', 257],
 ['46666', 308],
 ['55554', 677],
 ['5555T', 613],
 ['55855', 332],
 ['55955', 807],
 ['55J55', 572],
 ['55Q55', 918],
 ['57555', 560],
 ['57777', 345],
 ['5QQQQ', 446],
 ['5K555', 204],
 ['5A555', 403],
 ['65555', 975],
 ['66665', 632],
 ['666T6', 282],
 ['66766', 869],
 ['66J66', 957],
 ['66A66', 588],
 ['77477', 2],
 ['77767', 888],
 ['7777J', 561],
 ['77A77', 612],
 ['78777', 462],
 ['79777', 273],
 ['7KKKK', 530],
 ['82888', 801],
 ['83333', 784],
 ['87888', 750],
 ['88488', 449],
 ['88858', 428],
 ['8888A', 898],
 ['88K88', 443],
 ['89888', 662],
 ['8KKKK', 473],
 ['98999', 150],
 ['99499', 209],
 ['99939', 668],
 ['99995', 143],
 ['999Q9', 824],
 ['999K9', 555],
 ['99J99', 57],
 ['9T999', 90],
 ['T7777', 83],
 ['TT3TT', 624],
 ['TT8TT', 471],
 ['TTT5T', 147],
 ['TTT6T', 285],
 ['TTTT7', 330],
 ['TTTTK', 989],
 ['J8888', 783],
 ['J8JJJ', 835],
 ['JTTTT', 260],
 ['Q3333', 521],
 ['QTTTT', 696],
 ['QTQQQ', 232],
 ['QJQQQ', 886],
 ['QQ3QQ', 458],
 ['QQ8QQ', 329],
 ['QQQ7Q', 317],
 ['QQQQ2', 929],
 ['QQQQ9', 487],
 ['QQQAQ', 299],
 ['QQKQQ', 713],
 ['K4KKK', 494],
 ['K5KKK', 518],
 ['K9KKK', 640],
 ['KJKKK', 319],
 ['KKK6K', 569],
 ['KKKTK', 619],
 ['KAKKK', 170],
 ['A4444', 395],
 ['AJAAA', 457],
 ['AA9AA', 289],
 ['AAAQA', 646],
 ['AAAA3', 266],
 ['AAAA5', 958],
 ['AAAAT', 391],
 ['AAAAK', 508],
 ['JJJJJ', 155]]